@model ArtshopWebApp.Models.Djelo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Djelo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Iddjelo" class="control-label"></label>
                <input asp-for="Iddjelo" class="form-control" />
                <span asp-validation-for="Iddjelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Godinadjelo" class="control-label"></label>
                <input asp-for="Godinadjelo" class="form-control" />
                <span asp-validation-for="Godinadjelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Natpisdjelo" class="control-label"></label>
                <input asp-for="Natpisdjelo" class="form-control" />
                <span asp-validation-for="Natpisdjelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cijenadjelo" class="control-label"></label>
                <input asp-for="Cijenadjelo" class="form-control" />
                <span asp-validation-for="Cijenadjelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opisdjelo" class="control-label"></label>
                <input asp-for="Opisdjelo" class="form-control" />
                <span asp-validation-for="Opisdjelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipdjelo" class="control-label"></label>
                <input asp-for="Tipdjelo" class="form-control" />
                <span asp-validation-for="Tipdjelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idautor" class="control-label"></label>
                <select asp-for="Idautor" class ="form-control" asp-items="ViewBag.Idautor"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
